// GUI styles
.h1 {
  @include rhythm(46, 65);
  font-weight: 700;
  @media (--s) {
    @include rhythm(36, 55);
  }
}

.h2 {
  @include rhythm(30, 46);
  font-weight: 700;
}

.h3 {
  @include rhythm(20, 35);
  font-weight: 700;
}

.h4 {
  @include rhythm(17, 27);
  font-weight: 700;
}

.icon-logo {
  width: 97px;
  height: 36px;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
